html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  min-height: 100%;
  height: 100%;
}

body {
  background-color: black;
  display: flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
   
}
.footer{
  background-color: #121b36;
  height: 40vh;
}
.line{
  width : 50rem;
  height :.2rem;
}
 
.content-body{
  flex-grow: 1;
}

h1,h2,h3,h4,h5,h5, p, a, li{
  color: white;
}

.vid{
  background-color: aqua;
  width: auto;
  height: 100vh;
  
  background-image: url("../img/unreal.gif");
  background-repeat: no-repeat;
  background-size: cover;
  
}
.footer,
header{
  background-color: #121b36;
  flex-grow: 0;
  flex-shrink: 0;
}
.content-body{
  flex-grow: 1;
}
.wrapper{
  box-sizing: border-box;
  min-height: 100%;

  display: flex;
  flex-direction: column;

}
.rnd-button{
  border-radius: 15rem;
  width : 4rem;
  height: 4rem;
  background-color: inherit; /*so it looks transparent */
  border: none;
  margin-right: 2rem;
}
.rnd-button:hover{
  background-color: #258cfb;
}
.text-align{
  margin-top: 20rem;
}

