html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: black;
}
.footer{
  background-color: red;
}

.center{
  display: flex;
  justify-content: center;
}
h1,h2,h3,h4,h5,h5, p{
  color: aliceblue;
}

.vid{
  background-color: aqua;
  width: 85vw;
  height: 100vh;
 /* background-image: url("../img/Spongebob.png"); */
  background-repeat: no-repeat;
  text-align: center;
  object-fit: contain;
}
.rnd-button{
  border-radius: 15rem;
  width : 7rem;
  height: 7 rem;
   background-color: inherit; /*so it looks transparent */
  border: none;


}
.rnd-button:hover{
  background-color: #258cfb;
}

.center{
  display: flex;
  justify-content: center;
}
