@{
    ViewData["Title"] = "Gift Cards";
}


<div>
    <h2 class="title">Gift Cards</h2>
</div>
<div class="buttons-div">
 
    <div>
        
    </div>
    <div>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ipsa labore temporibus cum aperiam fuga
            corporis explicabo cumque tenetur laudantium ratione, adipisci dolores ea dolor? Reiciendis ipsum vitae ex
            ad?</h1>
        

    </div>
</div>