@{
    ViewData["Title"] = "Home Page";
    string bNum = String.Format("0.{0}", 1);
}

<div class="text-center">
    <h1 class="display-4">Build: @bNum </h1>
    <h1> Welcome to </br>The Unreal Shop </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus molestiae eius nemo distinctio autem omnis aperiam dolorum nihil consequatur, atque, nesciunt minus corrupti quaerat quam deserunt quod sequi doloribus! Libero.</p>

</div>
<div class ="vid">
    <img src = "~/img/unreal.gif">
</div>
