@{
    ViewData["Title"] = "Home Page";
    string bNum = String.Format("0.{0}", 1);
}
<div class="d-flex flex-column justify-content-center">

    <div class="vid mt-5 d-flex flex-column">
        <div class="text-align">
             
            <h1> WELCOME TO </br>THE UNREAL BRAND STORE </h1>
        </div>

    </div>
    <div class="text-center">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus molestiae eius nemo distinctio autem
            omnis
            aperiam dolorum nihil consequatur, atque, nesciunt minus corrupti quaerat quam deserunt quod sequi
            doloribus! Libero.</p>
    </div>

</div>
