@{
    ViewData["Title"] = "Services";
}


<div>
    <h2 class="title">OUR SERVICES</h2>
</div>
<div class="buttons-div">
    <button>Service 1</button>
    <button>Service 2</button>
    <button>Service 3</button>
    <button>Service 3</button>
</div>
